[submodule "lib/libffi"]
	path = lib/libffi
	url = git@github.com:libffi/libffi.git
[submodule "lib/raylib"]
	path = lib/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "lib/blobs"]
	path = lib/blobs
	url = https://github.com/delyan-kirov/blobs
